.block {
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	position: relative;
	height: max-content;
	user-select: none;
}
.value {
	grid-column: 1;
	grid-row: 1;
	z-index: 1;
	font-family: var(--mono), monospace;
	font-size: 1.1rem;
}
.icon {
	grid-column: 1;
	grid-row: 1;
	width: 3.5rem;
	height: 3.5rem;
}
.label {
	color: #1a140a;
	border-radius: 6px;
	padding: 0 0.5rem;
	font-size: 0.75rem;
	font-weight: 600;
}
