.characterList {
	display: grid;
	flex-direction: column;
	gap: 1rem;
}

.characterCard {
	--_padding: 0.5rem;
	/* position: relative; */
	display: flex;
	justify-content: space-between;
	> div:is(:first-child) {
		display: flex;
		gap: 1rem;
		align-items: center;
	}
	> .delete {
		width: max-content;
		aspect-ratio: 1;
	}
	> .enterButton {
		position: absolute;
		background: none;
		border: none;
		inset: 0;
		z-index: -1;
	}
	:hover {
		cursor: pointer;
	}
}

.tagBox {
	
	position: absolute;
	position-anchor: --details;
	bottom: calc(anchor(top) - .5rem);
	left: calc(anchor(left) - 1.5rem);
	width: max-content;
	rotate: -45deg;
}

.tag {
	text-align: center;
	font-size: 0.7rem;
	place-self: center;
	padding: 0.55rem;
	pointer-events: none;
	background-color: var(--background);
}

.details {
	display: flex;
	gap: 2rem;
	anchor-name: --details;
}

.characterPopup {
	gap: 2rem;
	flex-grow: 1;
	/* background-color: var(--background); */
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.filter {
	width: max-content;
	padding: 1rem;
	gap: .5rem;
}

@media (max-width: 1024px) {
	.filter {
		place-self: center;
	}
}
