.main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
	padding-inline: var(--max-width-padding);
    /* min-height: 100cqh; */
    min-width: 20px !important;
    position: relative;
    isolation: isolate;
    padding-block: 2rem;
    gap: .5rem;
}
.main::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-blend-mode: overlay;
    background-clip: border-box;
    opacity: .2;
    /* background-image: url('/logo-wide.png'); */
}