.form {
	position: relative;
	padding: 0;
	width: calc(80svw - 2 * 2.5rem);
	min-height: 70vh;
	@media (max-width: 767px) {
		width: 80svw;
	}
}
.textarea {
	height: 100%;
	width: 100%;
	min-height: 50vh;
	resize: none;
	overflow-y: auto;
}
.save {
	position: absolute;
	right: 1rem;
	top: 1rem;
}
