.form {
	--_text-color: var(--text);
	gap: 1rem;
	color: var(--_text-color);
	.inputWrapper {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}
	.input {
		--_gold: hsl(from var(--primary) h s calc(l - 20) / 0.6);
		padding: 0.5rem;
		border: 1px solid transparent;
		outline: 1px solid transparent;
		transition: border 0.3s ease-in-out;
		&::placeholder {
			color: hsla(from var(--_text-color) h s l / 0.8);
		}
	}
	.input:focus {
		outline: none;
		border: 1px solid var(--primary);
	}
}

/* .frame {

	--base: var(--background);

  --base-light:  oklch(from var(--base) calc(l + 0.08) c h);
  --base-mid:    oklch(from var(--base) calc(l + 0.05) c h);
  --base-warm:   oklch(from var(--base) calc(l + 0.06) calc(c + 0.02) calc(h + 20));
  --base-edge:   oklch(from var(--base) calc(l - 0.02) c h);
  --base-border: oklch(from var(--base) calc(l + 0.12) calc(c + 0.01) calc(h + 15));

  background-color: var(--base);
  background-image:
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 2px,
      oklch(from var(--base) calc(l + 0.06) c h / 0.15) 2px,
      oklch(from var(--base) calc(l + 0.06) c h / 0.15) 4px
    ),
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 2px,
      oklch(from var(--base) calc(l + 0.04) c h / 0.1) 2px,
      oklch(from var(--base) calc(l + 0.04) c h / 0.1) 4px
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 8px,
      oklch(from var(--base) calc(l + 0.08) calc(c + 0.01) calc(h + 10) / 0.12) 8px,
      oklch(from var(--base) calc(l + 0.08) calc(c + 0.01) calc(h + 10) / 0.12) 9px
    ),
    radial-gradient(
      ellipse at center,
      var(--base-light) 0%,
      var(--base-mid)   45%,
      var(--base-warm)  75%,
      var(--base-edge)  100%
    );

  box-shadow:
    inset 0 0 120px oklch(from var(--base) calc(l - 0.02) c h / 0.85),
    inset 0 0  40px oklch(from var(--base) calc(l - 0.01) c h / 0.5),
    inset 0 0  10px oklch(from var(--base) l c h / 0.3);
} */

.frame {
	--_hover: oklch(from var(--background) calc(l + 0.05) calc(c + 0.01) h / 0.8);
	--_padding: 2rem;
	--_corner-size: 0.6em;
	--_corner-w: 1px;
	--_gold: hsl(from var(--primary) h s calc(l - 20) / 1);
	display: flex;
	gap: 1rem;
	padding: var(--_padding) calc(var(--_padding) * 1.5);
	border: 2px inset oklch(from var(--_gold) calc(l + 0.1) calc(c + 0.05) h / 0.2);
	transform-origin: center;
	/* border-style: inset; */
	position: relative;
	isolation: isolate;

	background: linear-gradient(
		20deg,
		oklch(from var(--background) calc(l) c calc(h + 20) / 0.7),
		oklch(from var(--background) calc(l + 0.06) c calc(h + 20) / 0.7)
	);

	&.hoverable {
		gap: 1rem;
		transition: background-color 0.15s cubic-bezier(0.1, 0.7, 0.1, 1);
	};
	&.hoverable:hover,
	&.hoverable:focus-visible {
		background-color: var(--_hover);
	};
	&.hoverable:focus-visible {
		outline: 0;
	};
}
.frame::before {
	content: "";
	position: absolute;
	inset: -1.5px;
	z-index: -2;
	background: 
    /* top-left */
		linear-gradient(var(--_gold), var(--_gold)) top left / var(--_corner-size) var(--_corner-w) no-repeat,
		linear-gradient(var(--_gold), var(--_gold)) top left / var(--_corner-w) var(--_corner-size) no-repeat,
		/* top-right */ linear-gradient(var(--_gold), var(--_gold)) top right / var(--_corner-size) var(--_corner-w) no-repeat,
		linear-gradient(var(--_gold), var(--_gold)) top right / var(--_corner-w) var(--_corner-size) no-repeat,
		/* bottom-left */ linear-gradient(var(--_gold), var(--_gold)) bottom left / var(--_corner-size) var(--_corner-w) no-repeat,
		linear-gradient(var(--_gold), var(--_gold)) bottom left / var(--_corner-w) var(--_corner-size) no-repeat,
		/* bottom-right */ linear-gradient(var(--_gold), var(--_gold)) bottom right / var(--_corner-size) var(--_corner-w) no-repeat,
		linear-gradient(var(--_gold), var(--_gold)) bottom right / var(--_corner-w) var(--_corner-size) no-repeat;
}

.button {
	--_color: var(--ghost);
	text-align: center;
	transition:
		background-image 2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		border-color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		scale 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	cursor: pointer;
	padding: 0.5rem 1rem;
	border: 1px solid hsla(from var(--_color) h s calc(l - 40) / 0.5);
	background-color: var(--background);
	background-image: linear-gradient(rgba(from var(--_color) r g b / 0.08), rgba(from var(--_color) r g b / 0.02));
	color: var(--_color);
	font-weight: 700;

	&:hover {
		background-image: linear-gradient(rgba(from var(--_color) r g b / 0.48), rgba(from var(--_color) r g b / 0.22));
		border-color: oklch(from var(--_color) calc(l + 0.1) calc(c + 0.05) h / 0.5);
	}
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
		user-select: none;
		cursor: not-allowed;
		--_color: var(--ghost);
		background: none;
		border: 1px solid hsla(from var(--_color) h s l / 0.4);
	}
	&[data-active="true"],
	&:focus-visible,
	&:active {
		background-image: linear-gradient(rgba(from var(--_color) r g b / 0.48), rgba(from var(--_color) r g b / 0.22));
		border-color: oklch(from var(--_color) calc(l + 0.1) calc(c + 0.05) h / 0.5);
	}
	&:focus-visible,
	&:active {
		scale: 0.95;
	}
	& .bar {
		display: block;
		width: 1ch;
		height: 2px;
		background-color: currentColor;
		place-self: center;
		margin-block: 2px;
		border-radius: 100vh;
	}
	&.short {
		padding-block: 0.25rem;
	}
	&.circle {
		aspect-ratio: 1;
		width: max-content;
		border-radius: 50%;
		@supports (corner-shape: squircle) {
			corner-shape: unset;
		}
	}
}

.button-primary {
	--_color: var(--primary);
}
.button-secondary {
	--_color: hsla(from var(--secondary) h s calc(l + 15) / 1);
}
.button-accent {
	--_color: hsla(from var(--accent) h s calc(l + 5) / 1);
}

.side-by-side {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	&.apart {
		gap: 1rem;
		justify-content: space-between;
	}
}
@media (max-width: 768px) {
	.side-by-side {
		flex-direction: row;
		align-items: center;
		&.apart {
			flex-direction: column;
		}
	}
}
.list {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
	gap: 1rem;
	justify-content: center;
}

.text-content {
	--_color: var(--text);
	color: var(--_color);
	a {
		transition: color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		text-decoration: underline;
		cursor: pointer;
	}
	a:hover {
		color: oklch(from var(--_color) calc(l - 0.1) calc(c - 0.01) h / 1);
	}
	.alternate {
		color: var(--primary);
		font-style: italic;
	}
}
.text-primary {
	--_color: var(--primary);
}
.text-secondary {
	--_color: var(--secondary);
}
.text-accent {
	--_color: var(--accent);
}

.center {
	place-self: center;
}

.column-direction {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: max-content;
}
.row-direction {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 1rem;
}
.stretch {
	flex-grow: 1;
}

.rune-divider {
	display: flex;
	align-items: center;
	gap: 14px;
}

.rune-divider::before,
.rune-divider::after {
	content: "";
	flex: 1;
	height: 1px;
	background: linear-gradient(90deg, transparent, var(--primary), transparent);
}

.rune-divider .rune {
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	background: var(--background);
	box-shadow:
		0 0 0 2px var(--primary),
		0 0 0 3px var(--primary);
}

.small-eyebrow {
	display: block;
	font-size: clamp(0.875rem, 0.5vw + 0.75rem, 1.125rem);
	font-weight: 400;
	line-height: 1.6em;
}

.loader {
	position: relative;
	place-self: center;
	width: 20px;
	aspect-ratio: 1;
}
.loader::after,
.loader::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 1px solid transparent;
	z-index: 1;
}
.loader::after {
	border: 1px solid transparent;
	border-right: 1px solid var(--primary);
	animation: 0.5s spinnerRotate infinite;
	z-index: 2;
}
@keyframes spinnerRotate {
	from {
		rotate: 0deg;
	}
	to {
		rotate: 360deg;
	}
}
