.form {
	--_text-color: var(--text);
	gap: 1rem;
	color: var(--_text-color) !important;
	.inputWrapper {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}
	.input {
		--_gold: hsl(from var(--primary) h s calc(l - 20) / 0.6);
		padding: 0.5rem;
		border: 1px solid transparent;
		outline: 1px solid transparent;
		transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		&::placeholder {
			color: hsla(from var(--_text-color) h s l / 0.8);
		}
	}
	.input:focus {
		outline: none;
		border: 1px solid var(--primary);
	}
	.select {
		appearance: none;
		font: inherit;
		border: 1px solid transparent;
		transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		background-color: var(--background);
		color: var(--_text-color);
	}
	& .select:focus {
		border: 1px solid var(--primary);
	}
}

.characterCreateDescriptions {
	width: 30%;
	max-height: 500px;
	min-height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 10px;

	&::-webkit-scrollbar {
		width: 2px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: hsl(from var(--primary) h s calc(l - 20) / 1);
		border-radius: 10px;
	}
}

.frame {
	--_hover: oklch(from var(--background) calc(l + 0.05) calc(c + 0.01) h / 0.8);
	--_padding: 2rem;
	--_corner-size: 0.6em;
	--_corner-w: 1px;
	--_gold: hsl(from var(--primary) h s calc(l - 20) / 1);
	display: flex;
	gap: 1rem;
	padding: var(--_padding) calc(var(--_padding) * 1.5);
	/* border: 5px inset oklch(from var(--_gold) calc(l + 0.1) calc(c + 0.05) h / 0.2); */
	/* border-image: url("./borders.png") 5; */
	transform-origin: center;
	position: relative;
	isolation: isolate;

	background: linear-gradient(
		20deg,
		oklch(from var(--background) calc(l) c calc(h + 20) / 0.7),
		oklch(from var(--background) calc(l + 0.06) c calc(h + 20) / 0.7)
	);

	&.hoverable {
		gap: 1rem;
		transition: background-color 0.15s cubic-bezier(0.1, 0.7, 0.1, 1);
	}
	&.hoverable:hover,
	&.hoverable:focus-visible {
		background-color: var(--_hover);
	}
	&.hoverable:focus-visible {
		outline: 0;
	}
	&.full {
		background: linear-gradient(
			20deg,
			oklch(from var(--background) calc(l) c calc(h + 20) / 1),
			oklch(from var(--background) calc(l + 0.06) c calc(h + 20) / 1)
		);
	}
}
/* 

*/
.frame::before {
	content: "";
	position: absolute;
	inset: 0px;
	z-index: -2;
	border-image: url("./borders.png") 5;
	border-image-slice: 10%;
	border-image-width: 20px;
}

.button {
	--_color: var(--ghost);
	text-align: center;
	transition:
		border-color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		scale 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	cursor: pointer;
	padding: 0.5rem 1rem;
	border: 1px solid hsla(from var(--_color) h s calc(l - 40) / 0.5);
	background-color: var(--background);
	background-image: linear-gradient(rgba(from var(--_color) r g b / 0.08), rgba(from var(--_color) r g b / 0.02));
	color: var(--_color);
	font-weight: 700;
	isolation: isolate;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		inset: -1.5px;
		z-index: -2;
		border-image: url("./borders.png");
		border-image-slice: 10%;
		border-image-width: 10px;
	}
	&:hover {
		background-image: linear-gradient(rgba(from var(--_color) r g b / 0.48), rgba(from var(--_color) r g b / 0.22));
		border-color: oklch(from var(--_color) calc(l + 0.1) calc(c + 0.05) h / 0.5);
	}
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
		user-select: none;
		cursor: not-allowed;
		--_color: var(--ghost);
		background: none;
		border: 1px solid hsla(from var(--_color) h s l / 0.4);
	}
	&[data-active="true"],
	&:focus-visible,
	&:active {
		background-image: linear-gradient(rgba(from var(--_color) r g b / 0.48), rgba(from var(--_color) r g b / 0.22));
		border-color: oklch(from var(--_color) calc(l + 0.1) calc(c + 0.05) h / 0.5);
		outline: none;
	}
	&:focus-visible,
	&:active {
		scale: 0.95;
	}
	& .bar {
		display: block;
		width: 1ch;
		height: 2px;
		background-color: currentColor;
		place-self: center;
		margin-block: 2px;
		border-radius: 100vh;
	}
	&.short {
		padding-block: 0.25rem;
	}
	&.circle {
		aspect-ratio: 1;
		width: max-content;
		border-radius: 50%;
		@supports (corner-shape: squircle) {
			corner-shape: unset;
		}
	}
}

.button-primary {
	--_color: var(--primary);
}
.button-secondary {
	--_color: hsla(from var(--secondary) h s calc(l + 15) / 1);
}
.button-accent {
	--_color: hsla(from var(--accent) h s calc(l + 5) / 1);
}

.side-by-side {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	&.apart {
		gap: 1rem;
		justify-content: space-between;
	}
}
@media (max-width: 1024px) {
	.side-by-side {
		flex-direction: row;
		align-items: center;
		&.apart {
			flex-direction: column;
		}
	}
}
.list {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
	gap: 1rem;
	justify-content: center;
}

.text-content {
	--_color: var(--text);
	color: var(--_color);
	a {
		transition: color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		text-decoration: underline;
		cursor: pointer;
	}
	a:hover {
		color: oklch(from var(--_color) calc(l - 0.1) calc(c - 0.01) h / 1);
	}
	.alternate {
		color: var(--primary);
		font-style: italic;
	}
}
.text-primary {
	--_color: var(--primary);
}
.text-secondary {
	--_color: var(--secondary);
}
.text-accent {
	--_color: var(--accent);
}

.center {
	place-self: center;
}

.column-direction {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: max-content;
}
.row-direction {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 1rem;
}
.stretch {
	flex-grow: 1;
}

.rune-divider {
	display: flex;
	align-items: center;
	gap: 14px;
}

.rune-divider::before,
.rune-divider::after {
	content: "";
	flex: 1;
	height: 1px;
	background: linear-gradient(90deg, transparent, var(--primary), transparent);
}

.rune-divider .rune {
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	box-shadow:
		inset 0 0 2px 1px var(--primary),
		0 0 0 3px var(--primary);
}

.small-eyebrow {
	display: block;
	font-size: clamp(0.875rem, 0.5vw + 0.75rem, 1.125rem);
	font-weight: 400;
	line-height: 1.6em;
	color: var(--_color);
}
.mid-eyebrow {
	display: block;
	font-size: clamp(1.5rem, 0.7vw + 0.75rem, 1.925rem);
	font-weight: 400;
	line-height: 1.6em;
	color: var(--_color);
}
@media (max-width: 1024px) {
	.title {
		text-align: center;
	}
}

.loader {
	position: relative;
	place-self: center;
	width: 20px;
	aspect-ratio: 1;
}
.loader::after,
.loader::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 1px solid transparent;
	z-index: 1;
}
.loader::after {
	border: 1px solid transparent;
	border-right: 1px solid var(--primary);
	animation: 0.5s spinnerRotate infinite;
	z-index: 2;
}
@keyframes spinnerRotate {
	from {
		rotate: 0deg;
	}
	to {
		rotate: 360deg;
	}
}

.wrapped {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	@media (min-width: 768px) {
		flex-direction: row;
	}
}
