.h1 {
	font-size: 60px;
	@media (max-width: 768px) {
		font-size: 48px;
	}
}
.h2 {
	font-size: 48px;
	@media (max-width: 768px) {
		font-size: 40px;
	}
}

.h3 {
	font-size: 36px;
	@media (max-width: 768px) {
		font-size: 28px;
	}
}

.h4 {
	font-size: 28px;
	@media (max-width: 768px) {
		font-size: 24px;
	}
}

.h5 {
	font-size: 24px;
	@media (max-width: 768px) {
		font-size: 20px;
	}
}

.h6 {
	font-size: 20px;
	@media (max-width: 768px) {
		font-size: 16px;
	}
}

.form {
	width: fit-content;
	place-self: center;
	padding-inline: 2rem;
	padding-block: 1rem;
	gap: 1rem;
	color: var(--text-100);
	.inputWrapper {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}
	label {
		place-self: start;
	}
	.input {
		padding: 0.5rem;
		&::placeholder {
			color: var(--text-400);
		}
	}
	.input:focus {
		outline: 2px solid var(--primary-300);
		outline-offset: 2px;
		border: 2px solid var(--primary-300);
	}
}

.boxSection {
	--_bg: var(--base-950);
	--_hover: oklch(from var(--_bg) calc(l + 0.05) calc(c + 0.01) h / 0.8);
	--_padding: 1rem;
	display: flex;
	border-radius: 1.5em;
	gap: 1rem;
	padding: var(--_padding) calc(var(--_padding) * 1.5);
	border: 2px solid oklch(from var(--_bg) calc(l + 0.1) calc(c + 0.05) h / 0.5);
	background-color: oklch(from var(--_bg) calc(l - 0.5) c h / 0.5);
	@supports (corner-shape: squircle) {
		corner-shape: squircle;
	}
}

.button {
	text-align: center;
	transition:
		background-color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		border-color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		scale 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	cursor: pointer;
	padding: 0.5rem 1rem;
	border-radius: 100vh;
	border: 2px solid var(--_bg);
	background-color: var(--_bg);
	color: var(--_color);
	font-weight: 700;
	@supports (corner-shape: squircle) {
		corner-shape: squircle;
	}
	&:hover {
		background-color: oklch(from var(--_bg) calc(l + 0.1) calc(c + 0.01) h / 1);
		border-color: oklch(from var(--_bg) calc(l + 0.1) calc(c + 0.05) h / 0.5);
	}
	&:active {
		scale: 0.95;
	}
	&:disabled {
		opacity: 0.5;
		--_bg: var(--text-400);
		cursor: not-allowed;
	}
	& .bar {
		display: block;
		width: 1ch;
		height: 2px;
		background-color: currentColor;
		place-self: center;
		margin-block: 2px;
		border-radius: 100vh;
	}
	&.short {
		padding-block: 0.25rem;
	}
	&.circle {
		aspect-ratio: 1;
		width: max-content;
		border-radius: 50%;
		@supports (corner-shape: squircle) {
			corner-shape: unset;
		}
	}
}

.sideBySide {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	&.apart {
		gap: 1rem;
		justify-content: space-between;
	}
}
@media (max-width: 768px) {
	.sideBySide {
		flex-direction: row;
		align-items: center;
		&.apart {
			flex-direction: column;
		}
	}
}
.list {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
	gap: 1rem;
	justify-content: center;
}

.button-primary {
	--_bg: var(--primary);
	--_color: var(--text-900);
}
.button-secondary {
	--_bg: var(--secondary);
	--_color: var(--text-100);
}
.button-accent {
	--_bg: var(--accent);
	--_color: var(--text-900);
}
.button-ghost {
	background-color: transparent;
	color: var(--_bg);
	border-width: 2px;

	&:hover {
		background-color: var(--_bg);
		color: var(--_color);
	}
}

.text-content {
	--_color: var(--text-100);
	color: var(--_color);
	a {
		color: var(--_color);
		transition:
			color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
			text-decoration 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		cursor: pointer;
		text-decoration: underline;
	}
	a:hover {
		color: oklch(from var(--_color) calc(l - 0.1) calc(c - 0.01) h / 1);
	}
}
.text-primary {
	--_color: var(--primary-500);
}
.text-secondary {
	--_color: var(--secondary-500);
}
.text-accent {
	--_color: var(--accent-500);
}

.center {
	place-self: center;
}

.column-direction {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.row-direction {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 1rem;
}
