@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
	font-family: "K2D", sans-serif;
}

@media (max-height: 475px) {
  html {
    font-size: 60%;
  }
}

.dice-box-canvas {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  touch-action: none;
  pointer-events: none;
  transition: opacity 500ms ease-in-out;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}