.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
}
.menuItems {
    display: flex;
    gap: .5rem;
}

.sideMenuContent {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
