:root {
    interpolate-size: allow-keywords;
}

/*Scene accordion*/
.scene-details::details-content {
    --transition-duration: 450ms ease-in-out;
    height: 0;
    overflow: hidden;
    transition: height var(--transition-duration), content-visibility var(--transition-duration);
    transition-behavior: allow-discrete;
}

.scene-details[open]::details-content {
    height: auto;
}

